<ion-header>

    <ion-navbar color="primary">
        <ion-title>{{ basura.nombre }} <small>{{ basura.codigoContenedor }}</small> </ion-title>
    </ion-navbar>

</ion-header>
<ion-content>
        <ion-fab right>
                <button ion-fab (click)="camara('img')" color="secondary">
                <ion-icon name="camera"></ion-icon>
            </button>
            </ion-fab>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h1 style='color: red;' *ngIf="!imagenNueva">Foto Actual - Fecha: {{ basura.fecha | date:'dd/MM/yyyy' }}</h1>
                <h1 style='color: #32db64;' *ngIf="imagenNueva">Foto Nueva - Fecha: {{ fechaHoy | date:'dd/MM/yyyy' }}</h1>
                <ion-avatar item-start *ngIf="!imagenPreview">
                    <img [src]="basura.img | imagenDetalle:'basuras'">
                </ion-avatar>

                <ion-avatar item-start *ngIf="imagenPreview">
                    <img [src]="imagenPreview">
                </ion-avatar>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list radio-group>
                    <h2>Calidad Segregación</h2>
                    <ion-item *ngFor="let calificacion of calificaciones" [color]="calificacion.color">
                        <ion-label>{{ calificacion.nombre }}</ion-label>
                        <ion-radio [value]="calificacion.puntos" (ionSelect)="calificar(calificacion)" [checked]="calificacion.seleccionado"></ion-radio>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col>
                <ion-list radio-group>
                    <h2>Estado Contenedor</h2>
                    <ion-item *ngFor="let opcion of masOpciones" [color]="opcion.color">
                        <ion-label>{{ opcion.nombre }}</ion-label>
                        <ion-checkbox (ionChange)="cambiarEstado(opcion)" [disabled]="opcion.deshabilitado" [(ngModel)]="opcion.seleccionado" [checked]="opcion.seleccionado"></ion-checkbox>

                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list *ngIf="calificacion < 5">
                    <h2>Resíduos <small>¿Qué no debería estar?</small> </h2>
                    <ion-item *ngFor="let residuo of residuos" (click)="seleccionar(residuo)" [color]="residuo.color">
                        <ion-thumbnail item-start>
                            <img [src]="residuo.img">
                        </ion-thumbnail>
                        <h2 text-wrap> {{ residuo.nombre }} </h2>
                        <ion-icon *ngIf="residuo.seleccionado" name="checkmark" item-right></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>

        <h2>
            Observaciones <button ion-button type="submit" (click)="camara('imgDetalle')"><ion-icon name="camera">&nbsp; Foto Detalle</ion-icon> </button>
            <ion-thumbnail item-end *ngIf="imagenPreviewDetalle">
                <img [src]="imagenPreviewDetalle">
            </ion-thumbnail>
        </h2>

        <ion-item>
            <ion-textarea [(ngModel)]="observaciones" rows="6" cols="20" placeholder="Escribe alguna observación sobre este contenedor..."></ion-textarea>
        </ion-item>

        <button ion-button block type="submit" (click)="guardar()" [disabled]="imagenPreview.length <= 1">
            Guardar
        </button>
        <button ion-button block type="reset" (click)="reiniciar()" color="danger">
            Reiniciar Formulario
        </button>


        
    </ion-grid>
</ion-content>