.img-flamenco {
    padding: 0%;
}

.fondo-fabrica {
    background-image: url("../../assets/imgs/fondo-fabrica.jpg");
    padding: 0%;
}

.transparente {
    background-color: transparent;
    padding-left: 0%;
}

.label-md {
    margin: 0px !important;
}

.label .label-md {
    margin: 0 0 0 0;
}

hr {
    height: 3px;
    border-style: solid;
    border-color: rgb(72, 138, 255);
    border-width: 2px 0 0 0;
    border-radius: 20px;
    text-align: center;
    opacity: 0.5;
}

.contenido {
    padding: 0%;
    margin: 0%;
}

.transparente ion-row ion-col ion-avatar img {
    margin: 0%;
    padding: 0%;
}